.container-card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  justify-content: center;
  min-width: 320px;
  max-width: 80%;
}

@media (max-width: 900px) {
  .container-card {
    grid-template-columns: 1fr;
  }
}
